<% content_for :page_title do %>
    <%= link_to "#{t(:licensors, scope: :spree_licensors)} #{@start_date} - #{@end_date}", licensors_admin_reports_path(updated_at_gt: params[:updated_at_gt], updated_at_lt: params[:updated_at_lt], include_samples: params[:include_samples]) %>  / <%= (@licensor.licensor.present? ? @licensor.licensor.name : @licensor.name) %>
<% end %>

<% content_for :page_actions do %>
    <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_resource_list, resource: Spree.t(:report)), spree.admin_reports_url, class: 'btn btn-default' %>
<% end %>

<table class="table table-bordered admin-report" data-hook="featured_designer">
  <thead>
    <tr>
      <th><%= t(:order_id, scope: :spree_licensors) %></th>
      <th><%= t(:order_number, scope: :spree_licensors) %></th>
      <th><%= t(:product_name, scope: :spree_licensors) %></th>
      <th><%= t(:sku, scope: :spree_licensors) %></th>
      <th><%= t(:quantity, scope: :spree_licensors) %></th>
      <th><%= t(:price, scope: :spree_licensors) %></th>
      <th><%= t(:total, scope: :spree_licensors) %></th>
    </tr>
  </thead>

  <tbody>
    <% totals = [] %>
    <% @orders.each do |order| %>
      <% total = order[:quantity].to_i * BigDecimal.new(order[:price]) %>
      <% totals << total %>
      <tr>
        <td><%= order[:order_id] %></td>
        <td><%= link_to order[:order_number], spree.edit_admin_order_path(order[:order_number]) %></td>
        <td><%= order[:product_name] %></td>
        <td><%= order[:sku] %></td>
        <td><%= order[:quantity] %></td>
        <td class="price"><%= Spree::Money.new(order[:price]).to_s %></td>
        <td class="total"><%= Spree::Money.new(total).to_s %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="6"></td>
      <td class="total"><strong><%= Spree::Money.new(totals.sum).to_s %></strong></td>
    </tr>
  </tbody>
</table>

<%= button_link_to t(:export_csv_file, scope: :spree_licensors), licensor_csv_export_admin_reports_path(@licensor[:id], updated_at_gt: params[:updated_at_gt], updated_at_lt: params[:updated_at_lt], include_samples: params[:include_samples]), { icon: 'export', class: 'btn btn-primary', id: 'btn-export-csv-file' } %>
